body{
  background-color: #00425A;
  color:#E5FDD1;
  text-align: center;
}

h1{
  font-family: 'Yellowtail', cursive;
  font-size: 10rem;
  font-weight: bolder;
  margin:0 auto 150px;
}

h3{
  font-family: 'Yellowtail' , cursive;
  font-size: 3.5rem;
}

.col-1
{
  height: 500px;
}

.col-2
{
  height: 500px;
}

.dice-img-left
{
  height: 300px;
  width: 300px;
  margin-top: 100px
}

.dice-img-right
{
  height: 300px;
  width: 300px;
  margin-top: 100px;
}
